@font-face{
	font-family : header;   /* Giving Name to font which is imported */
	src : url(./Fonts/Roboto-Bold.ttf);  /* Importing Font */
}
@font-face{
	font-family : body;  /* Giving Name to font which is imported */
	src : url(./Fonts/Roboto-Medium.ttf);  /* Importing Font */
}
*{
	margin: 0%;
	padding: 0%;
}
body{
	margin :0%;
	background-color: #f4f4f4;
}
a{
	text-decoration: none;
}
.container {
	margin : 2em auto auto auto;
	width: 90%;
}
.header{
	/* width: 100%; */
	/* background-color: #0059ff; */
	margin-bottom: 2em;
	text-align-last: center;
}
.main{
	text-align-last: center;
}
.but{
	margin: 0em 0em 1.2em 0em;
	border: none;
	text-align-last: center;	
}

@media (min-width: 0px) and (max-width: 480px){
	.header{
		display:none;
	}
	.main{
		margin-top: 5em;
	}
	.large{
		padding: .7em 2.5em;
		background: #c9c5c5;
		font-family: header;
		font-size: .7em;
	}
	.large:hover{
		background-color: #2098d1;
	}
	.small{
		width: auto;
		padding: .8em 1.8em;
		background-color: #c9c5c5;
		font-family: body;
		font-size: .7em;
	}
	.small:hover{
		background-color: #2098d1;
	}
}
@media (min-width: 481px) and (max-width: 767px){
	.header{
		display:none;
	}
	.main{
		margin-top: 5em;
	}
	.large{
		padding: .7em 2.5em;
		background: #c9c5c5;
		font-family: header;
		font-size: .8em;
	}
	.large:hover{
		background-color: #2098d1;
	}
	.small{
		width: auto;
		padding: .8em 1.8em;
		background-color: #c9c5c5;
		font-family: body;
		font-size: .8em;
	}
	.small:hover{
		background-color: #2098d1;
	}

}
@media (min-width: 768px) and (max-width: 1024px){
	.header{
		width: 100%;
		margin: 2em auto;
	}
	.main{
		font-size: .7em;
	}
	.large{
		padding: .8em 2.6em;
		background: #c9c5c5;
		font-family: header;
		font-size: .6em;
	}
	.large:hover{
		background-color: #2098d1;
	}
	.small{
		width: auto;
		padding: 1em 2em;
		background-color: #c9c5c5;
		font-family: body;
	}
	.small:hover{
		background-color: #2098d1;
	}
}

@media (min-width: 1025px){
	.large{
		padding: .6em 2.3em;
		background-color: #c9c5c5;
		font-family: header;
		font-size: .9em;
	}
	.large:hover{
		background-color: #2098d1;
	}
	.small{
		width: auto;
		padding: 1.3em 2.5em;
		background-color: #c9c5c5;
		font-family: body;
		font-size: .9em;
	}
	.small:hover{
		background-color: #2098d1;
	}
} 

.subject{
	width:auto;
}
.year{
	width: 14em;
}